#editor {
    height: 100vh;
    width: 50vw;
}

html, body {
    padding: 0px;
    margin: 0px;
}

#grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#rightGrid {
    height: 100vh;
    width: 50vw;
    overflow-y: scroll;
}